@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
}
.main-container {
    min-height: 100vh;
    font-weight: 500;
}
.header {
    height: 60px;
    background-color: #faf8f7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}
.website-logo {
    width: 150px;
    color: black;
}
/* .website-title {
    font-size: 1.25em;
    color: #2a362d;
} */
/* .content {
    z-index: -1;
} */
.section-1 {
    background-color: #273720;
    margin-top: 60px;
    padding: 4em 1.25em 4em 1.25em ;
    background-image: url('./images/background.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center right -50%;
}
.main-heading {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -1px;
    color:#faf8f7;
}

.description {
    font-size: 1em;
    color: #f0efed;
    line-height: 1.5em;
}
.sub-description {
    font-size: 1em;
    color: #ffffff;
    margin-top: 0.8em;
}
.learn-more-container {
    border-radius: 12px;
    height: 40px;
    width: 100%;
    display: flex;
    margin: 1em 0 1em 0 ;
}
.input-element-button {
    display: flex;
    width: 100%;
}
.text-input {
    height: 40px;
    width: 70%;
    outline: none;
    border: none;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    padding-left: 1em;
    font-size: 0.85em;
}
.learn-more-btn {
    height: 100%;
    width: 30%;
    font-size: 0.9rem;
    background-color: rgba(9, 214, 9, 0.815);
    color: #ffffff;
    border: none;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.image-card-container {
    margin-bottom: 1.5em;
}
.welcome-card {
    width: 100%;
    border-radius: 0.5em;
    margin-top: 1.25em;
}
.clients-card{
    display:grid;
    grid-template-columns: 4fr;
}
.clients-description {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.clients {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding-left:0;
    list-style-type: none;
    
}
.logo-item{
    display:flex;
    justify-content: center;
    align-items: center;
}
.client-logo {
    width: 6.5em;
}

.section-2 {
    background-color: #ffffff;
    padding: 4em 1.25em 1.25em 1.25em ;
    color:#273720;
}
.sub-section-1{
    margin-bottom:40px;
}
.close-deals-faster-container {
    text-align: center;
}
.easy-vender-reviews-container {
    text-align: center;
}

.section-two-heading{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Arizona Sans',Tahoma,sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 0.8rem;
}
.section-two-main-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 500;
    color: #46594b;
    margin-bottom: 0.5em;
    line-height: 1.25em;

}
.section-two-description {
    font-size: 0.95rem;
    font-weight: 500;
    color: #46594b;
    line-height: 1.5em;
}
.section-two-sub-description {
    font-size: 1em;
    color: #46594b;
    margin-top: 0.8em;
    line-height: 1.5em;
}
.learn-more-button {
    display: inline-block;
    height: 50px;
    width: 100%;
    font-size: 1em;
    background-color: #42ae60;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
    margin-top: 1em;
    margin-bottom: 3em;
}
.horizontal-line {
    width: 100%;
    border-color: #46594b;
    margin: 1em 0 1em 0;
    opacity: 0.5;
}

.sub-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    font-weight: 500;
    color: #46594b;
}
.text-opacity {
    opacity: 0.5;
}
.card-container {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("./images/background.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: left bottom -10%;
    margin-bottom: 2em;
}
.card {
    height: 200px;
    width: 200px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.test-ui-logo {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.sub-section-2 {
    background-image: url('./images/solid-shape.svg');
    background-repeat: no-repeat;
    background-position: center right -15%;
    background-size: 65%;
}
.review-approve-container {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.review-approve-floating-card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    left: 0;
    top: 30px;
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 10;
    background-color: #ffffff;
}
.review-approve-text {
    font-size: 12px;
    color:#2a362d;
}
.review-approve-button {
    height: 35px;
    font-size: 10px;
    background-color: green;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
}
.review-approve-card {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.review-approve-card-logo {
    height: 35px;
    width: 35px;
}
.review-approve-card-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.empty-elements-container {
    width: 30%;
}
.space-1 {
    height: 16px;
    width: 70px;
    border-radius: 5px;
    background-color: #e3e6e4;
    margin-bottom: 5px;
}
.space-2 {
    height: 16px;
    width: 100px;
    border-radius: 5px;
    background-color: #e3e6e4;
}

.section-3 {
    background-color: #273720;
    padding: 4em 1.25em 4em 1.25em ;
    text-align: center;
    padding: 48px 0 0 0;
    margin-left: 0;
    margin-right: 0;
}
.testimonal-container {
    width:100%; 
    height:400px;
    display: grid;
    grid-template-columns: 12% 70% 12%;
    column-gap: 12px;
    margin-bottom: 108px;
    padding-right:0;
    margin-right:0;
}
.testimonal-1 {
    min-height: 300px;
    background-color: #d1e6d6;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.active-testimonal {
    min-height: 300px;
    background-color: #d1e6d6;
    border-radius: 1em;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:50px;
}
.client-logo-testimonal{
    width:6.5rem;
}
.testimonal-3 {
    min-height: 300px;
    background-color: #d1e6d6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
    padding-right:0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.hide-sliding-text {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-weight: 500;
    color: #273720;
    margin-bottom: 0.5em;
}
.testimonal-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #273720;
    margin-bottom: 0.5em;
}
.image-designation-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
}
.smarsh-card-pic {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}
.designation {
    font-size: 1em;
    font-weight: 500;
    color: #273720;
    line-height: 1.5em;
}

.get-started-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/getstarted-backround.svg');
    background-repeat: no-repeat;
    background-position: center left -10%;
    background-size: 30%;
    margin-top: 4em;
}
.get-started-section-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
    line-height: 1em;
    padding-left: 24px;
    padding-right: 24px;
}
.get-started-button {
    min-height: 50px;
    font-size: 1em;
    background-color: #42ae60;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 3em;
}

.footer {
    background-color: #273720;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 8px;
    column-gap: 8px;
    padding: 4em 1.25em 4em 1.25em ;
}
.footer-image-container {
    grid-column: 1 / 4;
}
.footer-logo {
    height: 40px;
    width: 70px;
    background-color: transparent;
}

.footer-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.footer-description {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.5em;
    opacity: 0.7;
}
.icon {
    font-size: 20px;
    color: #ffffff;
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .section-two-main-heading{
        font-size: 5rem;
    }
    .get-started-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header{
        display:none;
    }
    .section-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-size: 28%;
        background-position:  center bottom 30%;
        border: 1px solid #ffffff;
        margin-right: 0;
        padding:4em 0 4em 4em;
        margin-top: 0;
    }
    .security-reviews-solved-container{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .main-heading {
        font-size: 2.5em;
    }
    .description {
        font-size: 1.1em;
        opacity: 0.8;
    }
    .image-card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 65%;
        height: 500px;
        padding-right: 0;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .welcome-card {
        width: 90%;
        height: 80%;
        padding-right: 0;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .clients-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 32px;
    }
    /* .clients-description {
        width: 25%; 
        font-size: 1.25em;
        opacity: 0.7;
    } */
    .clients {
        justify-content: space-evenly;
        width: 70%;
    }

    .section-2 {
        padding:4em 0 4em 4em;
    }
    .sub-section-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .close-deals-faster-container{
        width: 100%;
        padding-top: 3em;
    }
    .features-container {
        width: 45%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .card-container {
        width: 45%;
        height: 350px;
        background-image: url("./images/background.svg");
        background-repeat: no-repeat;
        background-position: left bottom -8%;
        background-size: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .card {
        height: 250px;
        width: 250px;
    }
    .test-ui-logo {
        height: 100%;
        width: 100%;
    }
    .sub-section-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-position: right bottom;
        background-size: 35%;
        padding-top: 3em;
        margin-bottom: 3em;
    }
    .easy-vender-reviews-container {
        width: 100%;
        padding-top: 3em;
    }
    .learn-more-button{
        display: inline;
        min-width: 100px;
        max-width: 150px;
    }
    .reviews-approve-section {
        width: 50%;
        padding: 16px;
    }
    .review-approve-container {
        margin-left: 24px;
        width: 90%;
        background-color: #fff;
    }
    .review-approve-floating-card {
        height: 70px;
    }
    .review-approve-card {
        height: 70px;
        width: 100%;
    }
    .testimonal-container {
        grid-template-columns: 14% 70% 14%;
    }
    .testimonal-3 {
        margin-right: 0;
        padding-right: 0;
    }
    .active-testimonal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 16px;
    }
    .hide-sliding-text {
        display: block;
    }
    .image-designation-container {
        width: 50%;
        padding: 1em;
    }
    .smarsh-card-pic {
        height: 3.5em;
        width: 3.5em;
        margin-right: 8px;
    }
    .designation {
        font-size: 1.1em;
        margin-left: 8px;
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


@media screen and (min-width: 992px) {
    .client-logo-testimonal{
        width:7.5rem;
    }
    .section-1{
        padding-top:200px;
    }
    .main-heading{
        font-size: 5rem;
        align-self:center;
    }
    .welcome-card{
        height:800px;
    }
    .clients-card{
        display:grid;
        grid-template-columns: 1fr 4fr;
        margin-top :60px;
    }
    .clients-description { 
        font-size: 1rem;
        opacity: 0.7;
    }
    .clients{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: nowrap;
    }
    .card-container {
        height: 400px;
        background-position:  left bottom -80%;
        background-size: 50%;
    }
    .features-container {
        padding-top: 50px;
    }
    .card {
        height: 325px;
        width: 300px;
    }
    .sub-section-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-position: right bottom;
        background-size: 20%;
        padding-top: 3em;
        margin-bottom: 3em;
    }
    
}